.ProducerDetailsMainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--backgroundcolor);
}
.ProducerDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0rem;
}
.ProducerDetailsPageNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
  
  }
  .ProducerDetailsPageNavImg
  {
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    background-color: var(--whitecolor);
    border-radius: 50%;
    margin: 1rem;
  }
  .ProducerDetailsPageNavText {
    display: flex;
    align-items: center;
    color: var(--darkColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_20);
    font-weight: var(--font-weight_600);
    font-family: var(--defaultFontFamily);
    letter-spacing: 0.3px;
    margin: 0rem;
  }
  .ProducerDetailsTitleCart{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    background-color: var(--whitecolor);
    border-radius: 10px;
    margin: 0.5rem;

  }
  .ProducerDetailsTitleCartText{
    color: var(--darkColor);
    font-size: var(--font-size_20);
    font-weight: var(--font-weight_600);
    font-family: var(--defaultFontFamily);
    letter-spacing: 0.3px;
    margin: 0rem;
  }
  .ProducerDetailsTitleCartButton{
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--lightBlueColor);
    background-color: var(--lightBlueColor);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_500);
    color: var(--whitecolor);
    cursor: pointer;
  }
  .ProducerDetailsTabAndNotesContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92%;
  }
  .ProducerDetailsPageTabsContainer{
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--whitecolor);
  }
  .TabAddIconTExt{
    color: var(--darkColor);
  font-size: var(--font-size_14);
  margin: 0rem;
  font-family: var(--defaultFontFamily);
  text-transform: capitalize;
}
.ProducerDetailsTabDetailsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.ProducerDetailsTabDetailsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProducerDetailsTabDetailsHeaderText{
    margin: 0rem;
    font-family: var(--defaultFontFamily);
    font-weight: var(--font-weight_600);
    font-size: var(--font-size_18);
    color: var(--lightBlueColor);
}
.ProducerDetailsTabDetailsHeaderTextLoginInfo{
    margin: 1rem 0rem;
    font-family: var(--defaultFontFamily);
    font-weight: var(--font-weight_600);
    font-size: var(--font-size_18);
    color: var(--lightBlueColor);
}
.ProducerDetailsTabDetailsHeaderEditIcon{
    color: var(--darkGreenColor);
    background-color: var(--ashColor);
    padding: 1px;
    cursor: pointer;
}
.ProducerDetailsInformationContianer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0rem;
}
.ProducerDetailsInformationContent{
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;
}
.ProducerDetailsInformationDetailsCard{
    display: flex;
    flex-direction: column;
    width: 45%;
    border-bottom: 2px solid var(--ashColor);
    margin: 0.5rem 0rem;
}
.ProducerDetailsInformationDetailsCardText{
    margin: 0rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--darkAshColor);
}
.ProducerDetailsInformationDetailsCardTextdata{
    margin: 0.5rem 0rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--darkColor);
}


.ProducerDetailsModelPopupContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ProducerDetailsModelPopupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--ashColor);
    padding: 1rem;
  }
  .ProducerDetailsModelPopupHeaderText {
    margin: 0rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_20);
    font-weight: var(--font-weight_500);
  }
  .ProducerDetailsModelPopupHeaderTextIcon {
    cursor: pointer;
  }
 
  .ProducerDetailsTitle {
    font-family: var(--defaultFontFamily);
    font-weight: var(--font-weight_500);
    font-size: var(--font-size_18);
    color: var(--lightBlueColor);
  }
  .ProducerDetailsInputContainer{
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      
  }
  .ProducerDetailsInputContent{
      display: flex;
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap:20px;
  }
  .ProducerDetailsInputCart{
      display: flex;
      flex-direction: column;
      width: 50%;
  }
  .ProducerDetailsInputCartText{
      color: var(--darkColor);
      font-family: var(--defaultFontFamily);
      font-size: var(--font-size_16);
      font-weight: var(--font-weight_400);
      letter-spacing: 0.3px;
  }
  .ProducerDetailsButtonContainer{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      justify-content: flex-end;
      align-items:center;
  }
  .ProducerDetailsCancelButton{
      padding: 0.5rem 1.5rem;
      margin: 0.5rem;
      border-radius: 5px;
      border: 1px solid var(--darkAshColor);
      background-color: var(--whitecolor);
      font-family: var(--defaultFontFamily);
      font-size: var(--font-size_16);
      font-weight: var(--font-weight_500);
      color: var(--darkBlueColor);
      cursor: pointer;
  }
  .ProducerDetailsSubmitButton{
      padding: 0.5rem 1.5rem;
      margin: 0.5rem;
      border-radius: 5px;
      border: 1px solid var(--darkAshColor);
      background-color: var(--darkBlueColor);
      font-family: var(--defaultFontFamily);
      font-size: var(--font-size_16);
      font-weight: var(--font-weight_500);
      color: var(--whitecolor);
      cursor: pointer;
  }
  