.CoProducersDetailsMainConatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--backgroundcolor);
}
.CoProducersDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0rem;
}
.CoProducersDetailsNavConatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
}
.CoProducersDetailsNavImageConatiner {
  display: flex;
  align-items: center;
}
.CoProducersDetailsNavConatinerImg {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  background-color: var(--whitecolor);
  border-radius: 50%;
  margin: 1rem;
}
.CoProducersDetailsNavConatinerIcon {
  background-color: var(--whitecolor);
  padding: 0.5rem;
  border-radius: 50px;
  border: 1px solid var(--boxShadow);
}
.CoProducersDetailsNavImageConatinerText {
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_20);
  font-weight: var(--font-weight_600);
  color: var(--darkColor);
  margin: 0rem 0.5rem;
}
.CoProducersDetailsTitleConatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 91%;
  background-color: var(--whitecolor);
  margin: 0.5rem;
  border-radius: 10px;
}
.CoProducersDetailsTitleConatinerText {
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_22);
  font-weight: var(--font-weight_600);
  color: var(--darkColor);
  margin: 0rem 0.5rem;
}
.CoProducersDetailsTitleConatinerButton {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--lightBlueColor);
  background-color: var(--lightBlueColor);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_18);
  font-weight: var(--font-weight_500);
  color: var(--whitecolor);
  cursor: pointer;
}
.CoProducersDetailsTabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    border-radius: 10px;
    background-color: var(--whitecolor);
    padding: 0.5rem;
    margin: 0.5rem;
}
.CoProducersDetailsTabsAndNotesContainer{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.CoProducersDetailsTabsContainer{
    width: 95%;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--whitecolor);
}
.TabHeader{
   width: 30% !important;
}
.TabAddIcon{
    width: 15%;
    margin: 0rem 0.5rem;
}
.TabAddIconTExt{
    color: var(--darkColor);
    text-transform: capitalize;
}
.CoProducersDetailsPartiesAndNotesContainer{
    background-color: var(--whitecolor);
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
}
.CoProducersDetailsPartiesAndNotesContentMainContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ashColor);
    border-radius: 10px;
    margin: 0.5rem;
}
.CoProducersDetailsPartiesAndNotesContent{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 0.5rem;
    border: 1px solid var(--ashColor);
    border-radius: 10px;
}
.CoProducersDetailsPartiesAndNotesContentHeader{
    display: flex;
    align-items:center ;
}
.CoProducersDetailsPartiesAndNotesContentHeaderText{
    margin: 0rem 0.5rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--darkColor);
}
.CoProducersDetailsPAtiesAndNotesIcon{
    cursor: pointer;
}
.CoProducersDetailsPartiesContainer{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.CoProducersDetailsPartiesContainerText{
    margin: 0rem 0.5rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--lightBlueColor);
    display: flex;
    justify-content: space-between;
}
.CoProducersDetailsPartiesContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.3rem 0rem;
}
.CoProducersDetailsPartiesContentTitle{
    width: 50%;
    margin: 0rem 0.5rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--darkAshColor);
}
.CoProducersDetailsPartiesContentText{
    width: 45%;
    margin: 0rem 0.5rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--darkColor);
}
.CoProducersDetailsTabDetailsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.CoProducersDetailsTabDetailsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CoProducersDetailsTabDetailsHeaderText{
    margin: 0rem;
    font-family: var(--defaultFontFamily);
    font-weight: var(--font-weight_600);
    font-size: var(--font-size_18);
    color: var(--lightBlueColor);
}
.CoProducersDetailsTabDetailsHeaderEditIcon{
    color: var(--darkGreenColor);
    background-color: var(--ashColor);
    padding: 1px;
    cursor: pointer;
}
.CoProducersDetailsInformationContianer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0rem;
  }
  .CoProducersDetailsInformationContent{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .CoProducersDetailsInformationDetailsCard{
    display: flex;
    flex-direction: column;
    width: 45%;
    border-bottom: 2px solid var(--ashColor);
    margin: 0.5rem 0rem;
  }
  .CoProducersDetailsInformationDetailsCardText{
    margin: 0rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--darkAshColor);
  }
  .CoProducersDetailsInformationDetailsCardTextdata{
    margin: 0.5rem 0rem;
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    color: var(--darkColor);
  }
  .CoProducersDetailsPageInvestorTableHeaderButtonContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .CoProducersDetailsPageInvestorTableHeaderButton{
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--lightBlueColor);
    background-color: var(--lightBlueColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_500);
    color: var(--whitecolor);
    cursor: pointer;
  }
  .CoProducersDetailsPageInvestorTabsContainerTable{
    display: flex;
    flex-direction: column;
    background-color: var(--whitecolor);
  }
  .CoProducersDetailsPageInvesotrTablePagination{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .CoProducersDetailsTableActionContainer{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .CoProducersDetailsTableActionEditIcon{
    width: 10%;
    height: 10%;
    color: var(--geenColor);
    cursor: pointer;
  }
  .CoProducersDetailsTableActionViewIcon{
    width: 10%;
    height: 10%;
    color: var(--purpleColor);
    cursor: pointer;
  }
  .CoProducersDetailsTableActionDeleteIcon{
    width: 10%;
    height: 10%;
    color: var(--lightRed);
    cursor: pointer;
  }


  
/* model  */
.CreateCoProducersMainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.CreateCoProducersTitle{
  font-family: var(--defaultFontFamily);
  font-weight: var(--font-weight_500);
  font-size: var(--font-size_18);
  color: var(--lightBlueColor);
}
.CreateCoProducersInputContainer{
  display:flex;
  flex-wrap: wrap;
  align-items: center;    
}
.CreateCoProducersInputContent{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  gap:20px;
}
.CreateCoProducersInputCart {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.CreateCoProducersInputCartSingleInput{
  display: flex;
  flex-direction: column;
  width: 100%;
} 
.CreateCoProducersInputCartText {
  color: var(--darkColor);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_16);
  font-weight: var(--font-weight_400);
  letter-spacing: 0.3px;
}
.CreateCoProducersButtonContainer{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-end;
  align-items:center;
}
.CreateCoProducersCancelButton{
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--darkAshColor);
  background-color: var(--whitecolor);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_16);
  font-weight: var(--font-weight_500);
  color: var(--darkBlueColor);
  cursor: pointer;
}
.CreateCoProducersSubmitButton{
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--darkAshColor);
  background-color: var(--darkBlueColor);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_16);
  font-weight: var(--font-weight_500);
  color: var(--whitecolor);
  cursor: pointer;
}
.ViewCoProducersPageNavContainerButton{
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--lightBlueColor);
  background-color: var(--lightBlueColor);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_16);
  font-weight: var(--font-weight_500);
  color: var(--whitecolor);
  cursor: pointer;
}
.CreateCoProducersButtonContentExportButton{
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--lightRed);
  background-color: var(--lightRed);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_16);
  font-weight: var(--font-weight_500);
  color: var(--whitecolor);
  cursor: pointer;

}