.HeaderPageMainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background-color: var(--whitecolor);
}
.HeaderPageNavContainer{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}
.HeaderPageLogo{
    width: 15%;
    height: 20%;
}
.HeaderPageNavContainerLeft{
    display: flex;
    width: 60%;
    gap: 10px;
    align-items: center;
}
.HeaderPageNavContainerRight{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}
.HeaderPagesearch {
    background: #eff7ff;
    height: 41px;
    margin-top: 5px;
}
.HeaderPagesearch input {
    padding: 10px 0px !important;
}
.HeaderPageNavContainerLeft p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
}
.HeaderPagesAdminText{
    color: var(--lightBlueColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    letter-spacing: 0.3px;
}
.HeaderNavigation{
    color: var(--lightBlueColor);
    font-size: var(--font-size_18);
    font-weight: var(--font-weight_600);
    font-family: var(--defaultFontFamily);
}