.CoProducersPageMainContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundcolor);
    justify-content: center;
    align-items: center;
    width: 100%;
}
.CoProducersPageMainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.CoProducersPageMainNavContainer{
    display: flex
    ;
        justify-content: space-between;
        width: 96%;
        align-items: center;
}
.CoProducersPagenavCart{
    display: flex;
    align-items: center;
    
}
.CoProducersPagenavCartImg{
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    background-color: var(--whitecolor);
    border-radius: 50%;
    margin: 1rem;
}
.CoProducersPagenavCartText{
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_18);
    font-weight: var(--font-weight_500);
    color: var(--darkColor);
}
.CoProducersPageTabsContainer{
    width: 95%;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--whitecolor);
}
.TabHeader{
    display: flex;
    align-items: center;
}
.TabAddIcon{
    width: 15%;
    margin: 0rem 0.5rem;
}
.TabAddIconTExt{
    color: var(--darkColor);
}
.CoProducersPageTabsContainerTable{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem;
    background-color: var(--whitecolor);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 8px 4px var(--boxShadow);
}
.CoProducersPageTablePagination{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.ViewCoProducersPageNavContainerButton{
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--lightBlueColor);
    background-color: var(--lightBlueColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_500);
    color: var(--whitecolor);
    cursor: pointer;
}
.CoProducersDetailsTableActionContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.CoProducersDetailsTableActionEditIcon{
    width: 10%;
    height: 10%;
    color: var(--geenColor);
    cursor: pointer;
}
.CoProducersDetailsTableActionViewIcon{
    width: 10%;
    height: 10%;
    color: var(--purpleColor);
    cursor: pointer;
}
.CoProducersDetailsTableActionDeleteIcon{
    width: 10%;
    height: 10%;
    color: var(--lightRed);
    cursor: pointer;
}

/* model  */
.CreateCoProducersMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CreateCoProducersTitle{
    font-family: var(--defaultFontFamily);
    font-weight: var(--font-weight_500);
    font-size: var(--font-size_18);
    color: var(--lightBlueColor);
}
.CreateCoProducersInputContainer{
    display:flex;
    flex-wrap: wrap;
    align-items: center;    
}
.CreateCoProducersInputContent{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    gap:20px;
}
.CreateCoProducersInputCart {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .CreateCoProducersInputCartSingleInput{
    display: flex;
    flex-direction: column;
    width: 100%;
  } 
  .CreateCoProducersInputCartText {
    color: var(--darkColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_400);
    letter-spacing: 0.3px;
  }
  .CreateCoProducersButtonContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: flex-end;
    align-items:center;
  }
  .CreateCoProducersCancelButton{
    padding: 0.6rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--darkAshColor);
    background-color: var(--whitecolor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_18);
    font-weight: var(--font-weight_500);
    color: var(--darkBlueColor);
    cursor: pointer;
  }
  .CreateCoProducersSubmitButton{
    padding: 0.6rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--darkAshColor);
    background-color: var(--darkBlueColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_18);
    font-weight: var(--font-weight_500);
    color: var(--whitecolor);
    cursor: pointer;
  }
  .ViewCoProducersPageNavContainerButton{
    padding: 0.6rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--lightBlueColor);
    background-color: var(--lightBlueColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_18);
    font-weight: var(--font-weight_500);
    color: var(--whitecolor);
    cursor: pointer;
  }
  .CreateCoProducersButtonContentExportButton{
    padding: 0.6rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--lightRed);
    background-color: var(--lightRed);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_18);
    font-weight: var(--font-weight_500);
    color: var(--whitecolor);
    cursor: pointer;

  }
  .MuiOutlinedInput-root
  {
    height: auto !important;
  }
  
  .coProducerPageModelPopupContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .coProducerPageModelPopupContainerDeteleText{
    color: var(--darkColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_400);
    letter-spacing: 0.3px;
}
.coProducersPageModelPopupContainerDeteleTextProducerName{
  color: var(--redColor);
    font-family: var(--defaultFontFamily);
    font-size: var(--font-size_16);
    font-weight: var(--font-weight_600);
    letter-spacing: 0.3px;
}